.grid_container {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 79px auto 20px;
    background-color:#1a2238;
    gap: 0px;
}

h3 {
    color: #f4db7d;
    margin-right: 30px;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

#header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;
    text-align: center;
    font-size: 50px;
    max-height: max-content;
}

#sidebar {
    background-color:#eb7d5b;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    max-height: max-content;
    text-align: center;
}

#content {
    overflow: auto;
    background-color:#373f6c;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    text-align:center;
}

#movies { 
    color:#f4db7d;
    border-collapse: collapse;
}

td,tr,th {
    border:#1a2238 solid 1px;
}

#footer {
    text-align: center;
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 5;
    max-height: max-content;
    color:#f4db7d;
}

body {
    color:black;
    margin:0px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.cameraimg {
    margin-left:10px;
    float: left;
    height: 79px;
    width: 79px;
}

.menuButtons {
    background-color: #9daaf2;
    text-align: center;
    margin:25px;
    padding:5px;
    border-radius: 15px;
}

#menuSidebar {
    padding: 10px;
}

.members {
    background-color: #eb7d5b;
}

.bold_text {
    font-size:30px;
}

#members {
    border-bottom:3px solid #1a2238;
}

a {
    color:black;
    text-decoration: none;
}

#Welcomtext {
    background-color: #9daaf2;
    border-radius: 15px;
    width:auto;
    margin:50px;
}

#popcornImg {
    width: 400px;
    height:400px;
    border-radius: 15px;
}

.chart-container-flex {
   display:flex;
   justify-content: center;
   align-items: center;
   padding-right:4rem;
   padding-bottom:5rem;
   padding-left:4rem;
   width:90%;
   height:90%;
}
/* #barchart{
    max-width:80%;
    max-height:80%;
}
#piechart{
    max-width:80%;
    max-height:80%;
}